# Compilation outputs
Debug/
Release/
*.elf
*.bin
*.hex
*.map
*.o
*.su
*.d

# IDE - STM32CubeIDE / Eclipse local settings
.settings/
.project
.cproject
.mxproject

# Operating System Files
.DS_Store
Thumbs.db