# Built artifacts
*.apk
*.aar
*.jar
*.bundle
build/
app/build/

# IDEs and text editors
.gradle/
/local.properties
/.idea/
*.iml
*.ipr
*.iws
.DS_Store

# Log files
*.log

# Android Studio Navigation editor to not include local features as behaviors
.navigation/

# Captures and captures/ directory
captures/